<header>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="#">BookMyShow</a>

    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/addmoviebooking">Add Bookings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/listmoviebooking">List All Bookings</a>
      </li>
     
    </ul>
  </nav>
</header>

<div class="container-fluid bg-light p-3">
  <router-outlet></router-outlet>
</div>
