<header class="bg-green-500 mx-auto flex justify-between p-4">
  <p class="text-white font-sans">To-do App</p>
</header>
<div class="flex m-5 gap-5 flex-col-reverse md:flex-row h-max">
  <div class="border rounded p-5 sm:basis-2/5">
    <app-list-todo></app-list-todo>
  </div>
  <div
    *ngIf="showAdd || showUpdate"
    class="border h-fit rounded p-5 sm:basis-3/5"
  >
    <ng-container *ngIf="showAdd"><app-add-todo></app-add-todo></ng-container>

    <ng-container *ngIf="showUpdate"
      ><app-update-todo></app-update-todo
    ></ng-container>
  </div>
</div>
