<div class="container">
  <h2>Add / Update New Bookings</h2>
  <form
    [formGroup]="addMovieForm"
    class="form"
    (ngSubmit)="onAddMovieBooking(addMovieForm.value)"
  >
    <div class="form-group">
      <label for="id">Movie Id:</label>
      <input
        type="number"
        name="id"
        id="id"
        placeholder="1"
        formControlName="id"
        class="form-control"
        required
      />
      <p
        class="text-danger"
        *ngIf="
          this.addMovieForm.controls.id.touched &&
          !this.addMovieForm.controls.id.valid
        "
      >
        Please enter movie Id between 1 - 300
      </p>
    </div>
    <div class="form-group">
      <label for="movieName">Movie Name:</label>
      <input
        type="text"
        name="movieName"
        id="movieName"
        placeholder="Harry Potter"
        formControlName="movieName"
        class="form-control"
        required
      />
      <p
        class="text-danger"
        *ngIf="
          this.addMovieForm.controls.movieName.touched &&
          !this.addMovieForm.controls.movieName.valid
        "
      >
        Please enter a valid Movie Name
      </p>
    </div>
    <div class="form-group">
      <label for="movieBookingdate">Booking Date:</label>
      <input
        type="date"
        name="movieBookingdate"
        id="movieBookingdate"
        formControlName="movieBookingdate"
        class="form-control"
        required
      />
    </div>
    <div class="form-group">
      <label for="noOfTickets">Number Of Tickets:</label>
      <input
        type="number"
        name="noOfTickets"
        id="noOfTickets"
        placeholder="2"
        formControlName="noOfTickets"
        class="form-control"
      />
      <p
        class="text-danger"
        *ngIf="
          this.addMovieForm.controls.noOfTickets.touched &&
          !this.addMovieForm.controls.noOfTickets.valid
        "
      >
        Please enter Number of tickets between 1 - 15
      </p>
    </div>
    <input type="submit" value="Submit" class="btn-block btn-primary" />
  </form>
</div>
